<div class="m-0 vh-100 row justify-content-around align-items-center">
  <div class="col-auto text-center">
    <div class="title-container">
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"
          ><b
            style="color: #fff; font-family: 'Courier New', Courier, monospace"
            >Modal Verbs Trivia</b
          ></span
        >
        <span style="--index: 1"
          ><b
            style="color: #fff; font-family: 'Courier New', Courier, monospace"
            >Modal Verbs Trivia</b
          ></span
        >
        <span style="--index: 2"
          ><b
            style="color: #fff; font-family: 'Courier New', Courier, monospace"
            >Modal Verbs Trivia</b
          ></span
        >
      </div>
      <p style="font-family: 'Courier', Courier, monospace">
        This is a trivia that will help you know how much you learned about the
        topic
      </p>
    </div>
    <p style="font-family: 'Courier', Courier, monospace" class="mt-5">
      Yaritza don't make us lose ILV
    </p>

    <a class="btn custom-btn-primary" routerLink="/q1">Let's Go</a>
  </div>
</div>
